<h1>Your todo list</h1>

{% block content %}

    <form action="/" method="POST">
        {% csrf_token %}
        {{ form.title }}
        <input type="submit" value="Submit">
    </form>

    {% for task in tasks %}
        <div>
            <a href="{% url 'update' task.id %}">Update</a>
            <a href="{% url 'delete' task.id %}">Delete</a>

            {% if task.completed == True %}
                <strike>{{ task }}</strike>
            {% else %}
                <span>{{ task }}</span>
            {% endif %}

        </div>
    {% endfor %}

{% endblock %}